<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dcy.mapper.ManagerMapper">

    <sql id="t_userColumn">
        name,password,image,email,is_admin
    </sql>

    <sql id="t_userAllColumn">
        id,name,password,image,email,is_admin
    </sql>

    <resultMap id="list" type="com.qfedu.dcy.entity.GUserEntity">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="password" property="password"></result>
        <result column="image" property="image"></result>
        <result column="email" property="email"></result>
    </resultMap>


    <!-- 用户查询 -->
    <select id="readadmin"  resultType="com.qfedu.dcy.entity.GUserEntity">
        select <include refid="t_userAllColumn"></include>
        from t_user
        <where>
            <if test="id != null and id > 0">
                and id=#{id},
            </if>

            <if test="name != null and name !=''">
                and name=#{name}
            </if>

            <if test="email != null and email !=''">
                and email=#{email}
            </if>

        </where>
    </select>

    <!-- 管理员查询用户 -->
    <select id="readAllUsers"  resultMap="list">
        select <include refid="t_userAllColumn"></include>
        from t_user where is_admin=0

    </select>

    <select id="readOne" resultType="com.qfedu.dcy.entity.GUserEntity">
        select <include refid="t_userAllColumn"></include>
        from t_user where id=#{id}
    </select>

    <!-- 删除用户 -->
    <update id="delUsers">
        update t_user set is_admin=3 where id=#{id}
    </update>

    <!-- 修改用户 -->
    <update id="updUsers">
        update t_user set name=#{name},password=#{password},email=#{email}
        where id=#{id}
    </update>

</mapper>